.item{
    border: solid 1px;
    height: 10vh;
}

.item2{
    border: solid 1px;
    background-color: aqua;
    height: 10vh;
    display: flex;
    align-items: center;
}

#container{
    border: solid 1px #ff0000;
    height: 90vh;
    display: flex;
    justify-content: center;
}

#item1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    width: 100%;
}